adftestdeletemeabc/PartialArmTemplates/ArmTemplate_7_19_2019_10_52_47.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adftestdeletemeabc"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://www.google.com",
							"method": "GET"
						}
					}
				],
				"parameters": {
					"param1": {
						"type": "string",
						"defaultValue": "newVaule"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MapReduce1",
						"type": "HDInsightMapReduce",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"jarFilePath": "demo-jars/wordcount/mr/chen-mr-jobs-1.0-SNAPSHOT.jar",
							"className": "chen.guo.WordCount",
							"jarLibs": [],
							"jarLinkedService": {
								"referenceName": "abs_jar",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "linkedService1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " new description",
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 1,
					"timeToLive": "00:05:00",
					"version": "3.6",
					"hostSubscriptionId": "d3f099cb-50ca-4bc7-9b48-5df8ea28757f",
					"clusterResourceGroup": "adftestdeletemeabc",
					"servicePrincipalId": "fb5dda56-97d2-4635-af5d-650050c09526",
					"tenant": "2445f142-5ffc-43aa-b7d2-fb14d30c8bd3",
					"clusterNamePrefix": "",
					"clusterPassword": {
						"type": "SecureString",
						"value": "**********"
					},
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "**********"
					},
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "adf-runner-secret"
					},
					"additionalLinkedServiceNames": [],
					"linkedServiceName": {
						"referenceName": "abs_execution",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": "",
					"subnetName": "",
					"virtualNetworkId": ""
				}
			},
			"dependsOn": []
		}
	]
}